In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def header(msg):
	print('-' * 50)
	print('[ ' + msg + ' ]')

In [ ]:
# 1. load hard-coded data into a dataframe
header("1. load hard-coded data into a df")
df = pd.DataFrame(
	[['Jan',58,42,74,22,2.95],
	['Feb',61,45,78,26,3.02],
	['Mar',65,48,84,25,2.34],
	['Apr',67,50,92,28,1.02],
	['May',71,53,98,35,0.48],
	['Jun',75,56,107,41,0.11],
	['Jul',77,58,105,44,0.0],
	['Aug',77,59,102,43,0.03],
	['Sep',77,57,103,40,0.17],
	['Oct',73,54,96,34,0.81],
	['Nov',64,48,84,30,1.7],
	['Dec',58,42,73,21,2.56]],
	index = [0,1,2,3,4,5,6,7,8,9,10,11],
	columns = ['month','avg_high','avg_low','record_high','record_low','avg_precipitation'])
print(df)
filename = 'sample_data/Fremont_weather.txt'
df.to_csv(filename)

--------------------------------------------------
[ 1. load hard-coded data into a df ]
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [ ]:
# 2. read text file into a dataframe
header("2. read text file into a df")
filename = 'sample_data/Fremont_weather.txt'
df = pd.read_csv(filename)
print(df)

--------------------------------------------------
[ 2. read text file into a df ]
    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
0            0   Jan        58       42           74          22
1            1   Feb        61       45           78          26
2            2   Mar        65       48           84          25
3            3   Apr        67       50           92          28
4            4   May        71       53           98          35
5            5   Jun        75       56          107          41
6            6   Jul        77       58          105          44
7            7   Aug        77       59          102          43
8            8   Sep        77       57          103          40
9            9   Oct        73       54           96          34
10          10   Nov        64       48           84          30
11          11   Dec        58       42           73          21

    avg_precipitation
0                2.95
1                3.02
2                2.34
3                1.02
4                0.48
5                0.11
6                0.00
7                0.03
8                0.17
9                0.81
10               1.70
11               2.56

In [ ]:

# 3. print first 5 or last 3 rows of df
header("3. df.head()")
print(df.head())
header("3. df.tail(3)")
print(df.tail(3))

--------------------------------------------------
[ 3. df.head() ]
   Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
0           0   Jan        58       42           74          22
1           1   Feb        61       45           78          26
2           2   Mar        65       48           84          25
3           3   Apr        67       50           92          28
4           4   May        71       53           98          35

   avg_precipitation
0               2.95
1               3.02
2               2.34
3               1.02
4               0.48
--------------------------------------------------
[ 3. df.tail(3) ]
    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
9            9   Oct        73       54           96          34
10          10   Nov        64       48           84          30
11          11   Dec        58       42           73          21

    avg_precipitation
9                0.81
10               1.70
11               2.56

In [ ]:
# 4. get data types, index, columns, values
header("4. df.dtypes")
print(df.dtypes)

header("4. df.index")
print(df.index)

header("4. df.columns")
print(df.columns)

header("4. df.values")
print(df.values)

--------------------------------------------------
[ 4. df.dtypes ]
Unnamed: 0             int64
month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object
--------------------------------------------------
[ 4. df.index ]
RangeIndex(start=0, stop=12, step=1)
--------------------------------------------------
[ 4. df.columns ]
Index(['Unnamed: 0', 'month', 'avg_high', 'avg_low', 'record_high',
       'record_low', 'avg_precipitation'],
      dtype='object')
--------------------------------------------------
[ 4. df.values ]
[[0 'Jan' 58 42 74 22 2.95]
 [1 'Feb' 61 45 78 26 3.02]
 [2 'Mar' 65 48 84 25 2.34]
 [3 'Apr' 67 50 92 28 1.02]
 [4 'May' 71 53 98 35 0.48]
 [5 'Jun' 75 56 107 41 0.11]
 [6 'Jul' 77 58 105 44 0.0]
 [7 'Aug' 77 59 102 43 0.03]
 [8 'Sep' 77 57 103 40 0.17]
 [9 'Oct' 73 54 96 34 0.81]
 [10 'Nov' 64 48 84 30 1.7]
 [11 'Dec' 58 42 73 21 2.56]]

In [ ]:
# 5. statistical summary of each column
header("5. df.describe()")
print(df.describe())

--------------------------------------------------
[ 5. df.describe() ]
       Unnamed: 0   avg_high    avg_low  record_high  record_low  \
count   12.000000  12.000000  12.000000    12.000000   12.000000
mean     5.500000  68.583333  51.000000    91.333333   32.416667
std      3.605551   7.366488   6.060303    12.323911    8.240238
min      0.000000  58.000000  42.000000    73.000000   21.000000
25%      2.750000  63.250000  47.250000    82.500000   25.750000
50%      5.500000  69.000000  51.500000    94.000000   32.000000
75%      8.250000  75.500000  56.250000   102.250000   40.250000
max     11.000000  77.000000  59.000000   107.000000   44.000000

       avg_precipitation
count          12.000000
mean            1.265833
std             1.186396
min             0.000000
25%             0.155000
50%             0.915000
75%             2.395000
max             3.020000

In [ ]:
# 6. sort records by any column
header("6. df.sort_values('record_high', ascending=False)")
print (df.sort_values('record_high', ascending=False))

--------------------------------------------------
[ 6. df.sort_values('record_high', ascending=False) ]
    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
5            5   Jun        75       56          107          41
6            6   Jul        77       58          105          44
8            8   Sep        77       57          103          40
7            7   Aug        77       59          102          43
4            4   May        71       53           98          35
9            9   Oct        73       54           96          34
3            3   Apr        67       50           92          28
2            2   Mar        65       48           84          25
10          10   Nov        64       48           84          30
1            1   Feb        61       45           78          26
0            0   Jan        58       42           74          22
11          11   Dec        58       42           73          21

    avg_precipitation
5                0.11
6                0.00
8                0.17
7                0.03
4                0.48
9                0.81
3                1.02
2                2.34
10               1.70
1                3.02
0                2.95
11               2.56

In [ ]:
# 7. slicing records
header("7. slicing -- df.avg_low")
print(df.avg_low)							# index with single column

header("7. slicing -- df['avg_low']")
print(df['avg_low'])

header("7. slicing -- df[2:4]")				# index with single column
print(df[2:4])								# rows 2 to 3

header("7. slicing -- df[['avg_low','avg_high']]")
print(df[['avg_low','avg_high']])

header("7. slicing -- df.loc[:,['avg_low','avg_high']]")
print(df.loc[:,['avg_low','avg_high']])		# multiple columns: df.loc[from_row:to_row,['column1','column2']]

header("7. slicing scalar value -- df.loc[9,['avg_precipitation']]")
print(df.loc[9,['avg_precipitation']])

header("7. df.iloc[3:5,[0,3]]")				# index location can receive range or list of indices
print(df.iloc[3:5,[0,3]])

--------------------------------------------------
[ 7. slicing -- df.avg_low ]
0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64
--------------------------------------------------
[ 7. slicing -- df['avg_low'] ]
0     42
1     45
2     48
3     50
4     53
5     56
6     58
7     59
8     57
9     54
10    48
11    42
Name: avg_low, dtype: int64
--------------------------------------------------
[ 7. slicing -- df[2:4] ]
   Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
2           2   Mar        65       48           84          25
3           3   Apr        67       50           92          28

   avg_precipitation
2               2.34
3               1.02
--------------------------------------------------
[ 7. slicing -- df[['avg_low','avg_high']] ]
    avg_low  avg_high
0        42        58
1        45        61
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58
--------------------------------------------------
[ 7. slicing -- df.loc[:,['avg_low','avg_high']] ]
    avg_low  avg_high
0        42        58
1        45        61
2        48        65
3        50        67
4        53        71
5        56        75
6        58        77
7        59        77
8        57        77
9        54        73
10       48        64
11       42        58
--------------------------------------------------
[ 7. slicing scalar value -- df.loc[9,['avg_precipitation']] ]
avg_precipitation    0.81
Name: 9, dtype: object
--------------------------------------------------
[ 7. df.iloc[3:5,[0,3]] ]
   Unnamed: 0  avg_low
3           3       50
4           4       53

In [ ]:
# 8. filtering
header("8. df[df.avg_precipitation > 1.0]")	# filter on column values
print(df[df.avg_precipitation > 1.0])

header("8. df[df['month'].isin['Jun','Jul','Aug']]")
print(df[df['month'].isin(['Jun','Jul','Aug'])])

--------------------------------------------------
[ 8. df[df.avg_precipitation > 1.0] ]
    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
0            0   Jan        58       42           74          22
1            1   Feb        61       45           78          26
2            2   Mar        65       48           84          25
3            3   Apr        67       50           92          28
10          10   Nov        64       48           84          30
11          11   Dec        58       42           73          21

    avg_precipitation
0                2.95
1                3.02
2                2.34
3                1.02
10               1.70
11               2.56
--------------------------------------------------
[ 8. df[df['month'].isin['Jun','Jul','Aug']] ]
   Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
5           5   Jun        75       56          107          41
6           6   Jul        77       58          105          44
7           7   Aug        77       59          102          43

   avg_precipitation
5               0.11
6               0.00
7               0.03

In [ ]:
print(df)

    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
0            0   Jan        58       42           74          22
1            1   Feb        61       45           78          26
2            2   Mar        65       48           84          25
3            3   Apr        67       50           92          28
4            4   May        71       53           98          35
5            5   Jun        75       56          107          41
6            6   Jul        77       58          105          44
7            7   Aug        77       59          102          43
8            8   Sep        77       57          103          40
9            9   Oct        73       54           96          34
10          10   Nov        64       48           84          30
11          11   Dec        58       42           73          21

    avg_precipitation
0                2.95
1                3.02
2                2.34
3                1.02
4                0.48
5                0.11
6                0.00
7                0.03
8                0.17
9                0.81
10               1.70
11               2.56

In [ ]:
# 9. assignment -- very similar to slicing
header("9. df.loc[9,['avg_precipitation']] = 101.3")
df.loc[9,['avg_precipitation']] = 101.3
print(df.iloc[9:11])

header("9. df.loc[9,['avg_precipitation']] = np.nan")
df.loc[9,['avg_precipitation']] = np.nan
print(df.iloc[9:11])

header("9. df.loc[:,'avg_low'] = np.array([5] * len(df))")
df.loc[:,'avg_low'] = np.array([5] * len(df))
print(df.head())

header("9. df['avg_day'] = (df.avg_low + df.avg_high) / 2")
df['avg_day'] = (df.avg_low + df.avg_high) / 2
print(df)

--------------------------------------------------
[ 9. df.loc[9,['avg_precipitation']] = 101.3 ]
    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
9            9   Oct        73       54           96          34
10          10   Nov        64       48           84          30

    avg_precipitation
9               101.3
10                1.7
--------------------------------------------------
[ 9. df.loc[9,['avg_precipitation']] = np.nan ]
    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
9            9   Oct        73       54           96          34
10          10   Nov        64       48           84          30

    avg_precipitation
9                 NaN
10                1.7
--------------------------------------------------
[ 9. df.loc[:,'avg_low'] = np.array([5] * len(df)) ]
   Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
0           0   Jan        58        5           74          22
1           1   Feb        61        5           78          26
2           2   Mar        65        5           84          25
3           3   Apr        67        5           92          28
4           4   May        71        5           98          35

   avg_precipitation
0               2.95
1               3.02
2               2.34
3               1.02
4               0.48
--------------------------------------------------
[ 9. df['avg_day'] = (df.avg_low + df.avg_high) / 2 ]
    Unnamed: 0 month  avg_high  avg_low  record_high  record_low  \
0            0   Jan        58        5           74          22
1            1   Feb        61        5           78          26
2            2   Mar        65        5           84          25
3            3   Apr        67        5           92          28
4            4   May        71        5           98          35
5            5   Jun        75        5          107          41
6            6   Jul        77        5          105          44
7            7   Aug        77        5          102          43
8            8   Sep        77        5          103          40
9            9   Oct        73        5           96          34
10          10   Nov        64        5           84          30
11          11   Dec        58        5           73          21

    avg_precipitation  avg_day
0                2.95     31.5
1                3.02     33.0
2                2.34     35.0
3                1.02     36.0
4                0.48     38.0
5                0.11     40.0
6                0.00     41.0
7                0.03     41.0
8                0.17     41.0
9                 NaN     39.0
10               1.70     34.5
11               2.56     31.5

In [ ]:
df.drop('avg_day',inplace=True,axis=1)

In [ ]:
# 10. renaming columns
header("10. df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True)")
df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True)		# rename 1 column
print(df.head())

--------------------------------------------------
[ 10. df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True) ]
   Unnamed: 0 month  avg_high  avg_low  record_high  record_low  avg_rain  \
0           0   Jan        58        5           74          22      2.95
1           1   Feb        61        5           78          26      3.02
2           2   Mar        65        5           84          25      2.34
3           3   Apr        67        5           92          28      1.02
4           4   May        71        5           98          35      0.48

   avg_day
0     31.5
1     33.0
2     35.0
3     36.0
4     38.0

In [ ]:
header("10. df.columns = ['month','av_hi','av_lo','rec_hi','rec_lo','av_rain','av_day']")
df.columns = ['month','av_hi','av_lo','rec_hi','rec_lo','av_rain','av_day']
print(df.head())

--------------------------------------------------
[ 10. df.columns = ['month','av_hi','av_lo','rec_hi','rec_lo','av_rain','av_day'] ]
   month av_hi  av_lo  rec_hi  rec_lo  av_rain  av_day
0      0   Jan     58       5      74       22    2.95
1      1   Feb     61       5      78       26    3.02
2      2   Mar     65       5      84       25    2.34
3      3   Apr     67       5      92       28    1.02
4      4   May     71       5      98       35    0.48

In [ ]:
# 11. iterate a df
header("11. iterate rows of df with a for loop")
for index, row in df.iterrows():
    print (index, row["month"], row["av_hi"])

--------------------------------------------------
[ 11. iterate rows of df with a for loop ]
0 0 Jan
1 1 Feb
2 2 Mar
3 3 Apr
4 4 May
5 5 Jun
6 6 Jul
7 7 Aug
8 8 Sep
9 9 Oct
10 10 Nov
11 11 Dec

In [ ]:
# 12. write to csv file
df.to_csv('sample_data/foo.csv')